@import "tailwindcss";

@font-face {
  font-family: reg;
  src: url('/fonts/NeueMontreal-Regular.otf');
}

@font-face {
  font-family: lig;
  src: url('/fonts/NeueMontreal-Light.otf');
}

body {
  font-family: reg;
  overflow: auto;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}